<!DOCTYPE html>
<html>
<head>
    <!--
    * Author:         AllanChan
    -->
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="AllanChan" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="description" content="Allan's Blog" />
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script> 
    <link rel="stylesheet" href="https://cdn.rawgit.com/jmblog/color-themes-for-google-code-prettify/master/dist/themes/tomorrow.min.css" />

</head>
<body>

    <div class="home-menu">
    	
        <div class="home-icon-con">
            <a class="home-menu-icon" href="/">Allan's Blog</a>
            <!--<a class="home-follow" href="#" title="Contact Me">+</a>-->
        </div>
        <!--
        <div class="home-contact">
            <a href="http://weibo.com/kakasir" target="_blank" style="margin-left:-5px;"><img src="http://www.weibo.com/favicon.ico" alt="" width="25"/></a>
            <a href="http://instagram.com/allan_chan_" target="_blank" style="text-align:right"><img src="http://d36xtkk24g8jdx.cloudfront.net/bluebar/00c6602/images/ico/favicon.ico" alt="" width="22"/></a>

        </div>
        -->
    </div>
    {{ content }}
</body>
</html>
